.aboutme {
    display: grid;
    grid-template-areas: 
            "picture"
            "statement"
            "into"
            "tools";
    grid-template-rows: 0.5fr 0.5fr 1fr 1.3fr;
    grid-gap: 15rem;
    height: auto;
    width: auto; 
    padding: 0 2rem;
    position: absolute;
    top: 10vh;
    background-color: rgba(0, 0, 0, 0.822);
}

.profile-pic {
    grid-area: picture;
    display: grid;
}

.me {
    justify-self: center;
    align-self: center;
    height: 10rem;
    width: 10rem;
    border: 5px solid rgb(172, 158, 158);
    transform: rotate(10deg);
}

.intro {
    margin-inline-start: 1.2rem;
    font-size: 4rem;
    
}

.profile-statement {
    grid-area: statement;

}

.statement-header {
    font-family: 'Itim', cursive;
    font-size: 2.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #08fdd8;
}

.statement-content {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1rem;
    word-spacing: 0.1rem;
    color: whitesmoke;
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;

}

.into {
    grid-area: into;
}

.red {
    font-size: 5rem;
    font-family: 'Monoton', cursive;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow: 
                          8px 8px #ff1f8f,
                          20px 20px #000000;
}

.into-header {
    grid-area: activitiesheader;
    font-family: 'Itim', cursive;
    font-size: 2.2rem;
    color: #08fdd8;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    width: 15rem;

}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.sklink{
    text-decoration: none;
    color: #fd4d08;
}

.intostatement {
    margin-top: 2rem;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1rem;
    word-spacing: 0.1rem;
    color: whitesmoke;
}

.tool {
    grid-area: tools;
}

.toheader {
    font-family: 'Itim', cursive;
    font-size: 2.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #08fdd8;
}

.tool-container {
    background-color: teal;
    border-radius: 2rem;
    display: grid;
    grid-template-areas: 
            "tool1 tool2"
            "tool3 tool4"
            "tool5 tool6"
            "tool7 tool8" ;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    height: 25rem;
    width: auto;
    border-radius: 31px;
    background: #b0b0b0;
    box-shadow:  22px 22px 44px #464646,
                 -10px -10px 44px #adadad;
}

.tool1 {
    grid-area: tool1;
    display: grid;
    justify-content: center;
}
.tool2 {
    grid-area: tool2;
    display: grid;
    justify-content: center;
}
.tool3 {
    grid-area: tool3;
    display: grid;
    justify-content: center;
}
.tool4 {
    grid-area: tool4;
    display: grid;
    justify-content: center;
}
.tool5 {
    grid-area: tool5;
    display: grid;
    justify-content: center;
}
.tool6 {
    grid-area: tool6;
    display: grid;
    justify-content: center;
}
.tool7 {
    grid-area: tool7;
    display: grid;
    justify-content: center;
}
.tool8 {
    grid-area: tool8;
    display: grid;
    justify-content: center;
}

.tool-icon {
    justify-self: center;
}





@media only screen and (min-width: 1100px) {
    .aboutme {
        display: grid;
        grid-template-areas: 
                "picture statement"
                "picture statement"
                "into into"
                "tools tools";
        grid-template-rows: 0.7fr 0.7fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5rem 0;
        height: auto;
        width: 86%;
        padding: unset;
        position: absolute;
        top: 0;
        left: 14%;
        /* grid-gap: 1rem; */
    }
    
    .profile-pic {
        grid-area: picture;
        display: grid;
    }

    .statement-content {
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.1rem;
        word-spacing: 0.1rem;
        color: whitesmoke;
        margin-inline-end: 2rem;
        display: grid;
        justify-content: center;
        align-content: center;

    }

    .statement-header {
        font-family: 'Itim', cursive;
        font-size: 2.2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-inline-start: 1rem;
        color: #08fdd8;
    }

    .intro {
        margin-inline-start: 1.2rem;
        font-size: 2.3rem;
    }

    .br {
        margin-top: 1rem;
        letter-spacing: 0.01rem;
        line-height: 1.2rem;
    }
    .codename {
        float: right;
    }
    .me {
        justify-self: center;
        align-self: center;
        height: 10rem;
        width: 10rem;
        transform: rotate(10deg);
        border: 5px solid #08fdd8;
    }
    
    .profile-statement {
        grid-area: statement;
    }

    .into {
        grid-area: into;
    }

    .into-header {
        margin-inline-start: 2rem;
    }

    .intostatement {
        margin-inline-start: 2rem;
    }
    
    .tool {
        grid-area: tools;
    }

    .tool-container {
        background-color: teal;
        display: grid;
        grid-template-areas: 
                "toheader toheader toheader toheader toheader toheader toheader toheader"
                "tool1 tool2 tool3 tool4 tool5 tool6 tool7 tool8" ;
        border-radius: 31px;
        background: #b0b0b0;
        box-shadow:  22px 22px 44px #464646,
                        -22px -22px 44px #ffffff;
        grid-template-columns: repeat(8, 0.1fr);
        grid-template-rows: 1fr 2fr;
    }

    .toheader {
        font-family: 'Itim', cursive;
        font-size: 2.2rem;
        color: #08fdd8;
        margin-inline-start: 2rem;
    }

    .toolname {
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.1rem;
    }
}
