.contact-container {
    position: absolute;
    top: 10vh;
    display: grid;
    grid-template-areas:
                "contactform"
                "contacticons" ;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    grid-gap: 1rem 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.822);

}

.contact-form {
    grid-area: contactform;
    justify-self: center;
    align-self: center;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: black;
    width: 90vw;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.contactname, .contactemail, .contactsubject, textarea {
    margin: 0.2rem;
    border-bottom: 3px solid red;
}

.contactname, .contactemail, .contactsubject {
    height: 2rem;
}

.contact-icons {
    grid-area: contacticons;
    justify-self: center;
    display: grid;
    width: 90vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    background: linear-gradient(145deg, #000000, #110d0d);
    box-shadow:  5px 5px 100px #272727,
             -1px -1px 1px #000000;
}

.contactheader {
    font-family: 'Itim', cursive;
    font-size: 2.2rem;
    margin-inline-start: 2rem;
    margin-top: 1rem;
    color: #08fdd8;
}

.contactstatement {
    font-family: 'Titillium Web', sans-serif;
    margin-inline-start: 1rem;
    font-size: 1.1rem;
    line-height: 23px;
    color: whitesmoke;
}

@media only screen and (min-width: 1100px) {
    .contact-container {
        display: grid;
        position: absolute;
        top: 0;
        left: 14%;
        grid-template-areas:
                    "contactform contacticons";
        grid-template-columns: 1fr 1fr;
        height: 100vh;
        grid-gap: unset;
        width: 86%;
        align-content: center;
        background-color: rgba(0, 0, 0, 0.822);
    }

    .contact-form {
        grid-area: contactform;
        justify-self: center;
        display: grid;
        justify-content: center;
        align-content: center;
        background-color: rgba(0, 0, 0, 0.103);
        width: 100%;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    
    .contactname, .contactemail, .contactsubject, textarea {
        margin: 0.2rem;
        border-bottom: 3px solid red;
    }
    
    .contactname, .contactemail, .contactsubject {
        height: 2rem;
    }
    
    .contact-item {
        text-decoration: none;
        color: azure;
        font-size: 1.2rem;
    }

    .contactheader {
        font-family: 'Itim', cursive;
        font-size: 2.2rem;
        margin-inline-start: 2rem;
        margin-top: 1rem;
        color: #08fdd8;
    }

    .contactstatement {
        font-family: 'Titillium Web', sans-serif;
        margin-inline-start: 1rem;
        font-size: 1.1rem;
        line-height: 23px;
        color: whitesmoke;
    }

    .contact-icons {
        grid-area: contacticons;
        justify-self: center;
        align-self: center;
        display: grid;
        width: 100%;
        justify-content: center;
        align-content: center;
    }
}